.about {
  display: flex;
  flex-wrap: wrap;
}

.about__item {
  flex-basis: 50%;

  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 200px 10px;
  background-size: cover;
  background-position: 50% 50%;
  font-family: "Montserrat", sans-serif;
  color: #fff;
  font-weight: bold;
  font-size: 24px;
}
.about__item:nth-child(1),
.about__item:nth-child(2),
.about__item:nth-child(5),
.about__item:nth-child(6) {
  flex-basis: 25%;
}

.about__item:nth-child(1) {
  background-image: url("../img/about/1.jpg");
}
.about__item:nth-child(2) {
  background-image: url("../img/about/2.jpg");
}
.about__item:nth-child(3) {
  background-image: url("../img/about/3.jpg");
}
.about__item:nth-child(4) {
  background-image: url("../img/about/4.jpg");
}

.about__item:nth-child(5) {
  background-image: url("../img/about/5.jpg");
}
.about__item:nth-child(6) {
  background-image: url("../img/about/6.jpg");
}

@media (max-width: 900px) {
  .about__item:nth-child(1),
  .about__item:nth-child(2),
  .about__item:nth-child(5),
  .about__item:nth-child(6) {
    flex-basis: 50%;
  }
}
@media (max-width: 767px) {
  .about {
    flex-direction: column;
  }
  .about__item {
    background-image: none !important;
    color: var(--black);
    padding: 30px 5px;
    border-bottom: 2px solid var(--border);
  }
  .about__item:nth-child(1) {
    border-top: 2px solid var(--border);
  }
}
