:root {
  --border: #e4e4e4;
  --light: #f9f9f9;
  --black: #1b2720;
  --green: #228749;
  --red: #cb3333;
  --gray: #777;
  --yellow: #fedc00;
  --up-fz: 24px;
  --basic-fz: 18px;
}

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: "Open Sans", sans-serif;
  font-size: var(--basic-fz);
  color: var(--black);
  line-height: 1.4;
}
body {
  overflow-x: hidden;
}
h1,
h2,
h3,
h4 {
  font-family: "Montserrat", sans-serif;
  line-height: 1.2;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

.bold {
  font-weight: 600;
}

.container {
  max-width: 1394px;
  margin: 0 auto;
  padding: 0 14px;
}

.section {
  padding-top: 150px;
}
.section-contacts {
  padding-bottom: 150px;
}

.h1 {
  font-size: 54px;
  font-weight: 400;
  max-width: 1347px;
}

.main-btn {
  display: flex;
  align-items: center;
  border-radius: 8px;
  color: #fff;
  background-color: var(--black);
  border: none;
  cursor: pointer;
  transition: all 0.5s;
}

.main-btn__icon-wrapper {
  border-right: 2px solid rgba(255, 255, 255, 0.1);
  padding: 25px 30px;
  background-color: var(--black);
  height: 100%;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
}

.main-btn__icon {
  transition: all 0.3s;
}

.main-btn:hover {
  background-color: var(--yellow);
  color: var(--black);
}

.main-btn:hover .main-btn__icon {
  transform: scale(1.3);
}

.main-btn__txt-wrapper {
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 30px;
  padding-right: 60px;
}

.main-btn__txt {
  position: relative;
  z-index: 2;
  font-size: var(--basic-fz);
  text-transform: uppercase;
}

.btn-callback {
  padding: 10px 20px;
  background-color: var(--light);
  border-radius: 25px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s;
}

.btn-callback:hover {
  background-color: var(--border);
}

.main-h2 {
  font-size: 54px;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 100px;
}

.main-h2__line {
  position: relative;
}

.main-h2__line::before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  height: 3px;
  background-color: var(--black);
  width: 1000px;
  left: -1030px;
}

.main {
  padding-top: 90px;
}

.fancybox-thumbs__list a:before {
  border-color: var(--yellow);
}
.map-info__body {
  padding: 20px;
  border-radius: 8px;
  color: var(--black);
  font-size: 18px;
  text-transform: none;
}
.map-info__item {
  display: flex;
  align-items: center;
}
.map-info__icon {
  width: 24px;
  height: 24px;
  margin-right: 10px;
}
.map-info__item:first-child,
.map-info__item:nth-child(3) {
  border-bottom: 1px solid var(--border);
  padding-bottom: 15px;
  margin-top: 15px;
}
.map-info__item:nth-child(2),
.map-info__item:nth-child(4),
.map-info__item:nth-child(5) {
  margin-top: 15px;
}
.ymaps-2-1-79-map:not(:first-child) {
  display: none;
}
.map-wrapper {
  position: relative;
}
.map {
  height: 600px;
}
.map-info {
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #fff;
}
@media (max-width: 550px) {
  .map {
    height: 400px;
  }
}
@media (max-width: 767px) {
  .map-info {
    left: 50%;
    transform: translateX(-50%);
    bottom: -50%;
  }
  .container {
    padding: 0 16px;
  }
  .h1,
  .main-h2 {
    font-size: 40px;
  }
  .main-h2 {
    margin-bottom: 60px;
  }
  .section {
    padding-top: 80px;
  }

  .main-btn {
    width: 100%;
    font-size: 16px;
  }

  .main-btn__icon-wrapper,
  .main-btn__txt-wrapper {
    padding-top: 18px;
    padding-bottom: 18px;
  }
  .main-btn__txt-wrapper {
    padding-left: 5px;
    padding-right: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .main-btn__icon-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (max-width: 500px) {
  .h1,
  .main-h2 {
    font-size: 26px;
  }
  .main-h2 {
    margin-bottom: 30px;
  }
  .section {
    padding-top: 60px;
  }
  .section-contacts {
    padding-bottom: 220px;
  }
}
