.tips {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--border);
  font-size: var(--up-fz);
}

.tips__item {
  flex-basis: 33.333%;
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
}

.tips__item:nth-child(1),
.tips__item:nth-child(3) {
  border-bottom: 1px solid var(--border);
  border-bottom: 1px solid var(--border);
}

.tips__item:nth-child(2),
.tips__item:nth-child(5) {
  border-left: 1px solid var(--border);
  border-right: 1px solid var(--border);
}
.tips__item:nth-child(2) {
  border-bottom: 1px solid var(--border);
}

.section-tips__btn-wrapper {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

@media (max-width: 767px) {
  .tips__item {
    flex-basis: 100%;
    padding: 30px 20px;
    padding-right: 10px;
  }
  .tips__item:nth-child(1),
  .tips__item:nth-child(2),
  .tips__item:nth-child(3),
  .tips__item:nth-child(5) {
    border: none;
  }

  .tips__item:not(:last-child) {
    border-bottom: 1px solid var(--border);
  }

  .section-tips__btn-wrapper  {
    margin-top: 30px;
  }
}


.noname-problems__top {
  display: flex;
  align-items: center;
  padding: 30px;
  background-color: var(--light);
  border: 1px solid var(--border);
  border-radius: 8px;
  margin-bottom: 25px;
}

.noname-problems__btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}